{% load static %}
<div class="modal fade ticket-modal" tabindex="-1" role="dialog" aria-labelledby="ticket-modal" aria-hidden="true" id="ticket-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <img class="d-block" src="{% static 'core/img/icon/ticket.svg' %}" alt="ticket.svg" style="width:5em;height:2.5em;position:absolute;">
              <h2 class="modal-title mx-auto d-block">Tickets</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p class="lead text-center enlarge">
                 $5 ticket sales closed
              </p>
              <p class="lead text-center enlarge">
                  $7 discount tickets available until March 6th
              </p>
              <a class="btn btn-block btn-large btn-outline-light mx-auto py-4" target="_blank" href="https://blairmusic.ticketleap.com/2019carnival/" role="button">Buy Tickets Now!</a>
              <p class="my-3">
                  Tickets at the door (cash preferred):
              </p>
              <ul>
                  <li>1 for $10</li>
                  <li>2 for $18</li>
                  <li>3 for $25</li>
                  <li>4 for $30</li>
                  <li>5 for $35</li>
                  <li>$5 for each additional over 5</li>
              </ul>
          </div>
        </div>
      </div>
</div>
<script>
$(document.body).on('shown.bs.modal,show.bs.modal', function () {
    $('body').css('padding-right','0');
});
</script>
<!-- <a href="https://blairmusic.ticketleap.com/carnival/" role="button" class="btn btn-outline-dark d-block">Presale Tickets $5</a> -->
