{% load static %}
<script>
    AOS.init({
      duration: 1000,
    })
</script>
<section id="schedule-container">
    <main role="main" class="schedule">
        <img class="trumpet-svg" src="{% static 'core/img/icon/lion-face.svg' %}" alt="trumpet.svg">
        <img class="violin-svg" src="{% static 'core/img/icon/turtle.svg' %}" alt="violin.svg">
        <img class="sax-svg" src="{% static 'core/img/icon/elephant.svg' %}" alt="sax.svg">

        <h1 class="schedule-title" data-aos="fade-up">Schedule</h1>
        <p class="desc" data-aos="fade-up">
            Our event will run 10 am – 1 pm. The format is
            designed to accommodate families whenever you arrive. We will run the
            instrument petting zoo the entire time, and both the Orchestra and
            the Marching Band will perform twice, both times for kid-friendly durations
            (25 minutes, and 15 minutes respectively). You can go to one or both
            performances.
            See the schedule below.
        </p>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-6">
                <h1 class="time-header">10:00 AM</h1>
                <p class="time-description">
                    Festival opens. Ongoing Festivities: Instrument Petting Zoo, Face Painting, Bake Sale, etc.
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">11:30 AM</h1>
                <p class="time-description">
                    Marching Band/Drumline Performance (15 min)
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-6">
                <h1 class="time-header">10:15 AM</h1>
                <p class="time-description">
                    Marching Band/Drumline Performance
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:00 PM</h1>
                <p class="time-description closing" id="closing">
                    Carnival of the Animals Perfomance 2
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-6">
                <h1 class="time-header">10:45 AM</h1>
                <p class="time-description">
                    Carnival of the Animals Performance 1
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:30 PM</h1>
                <p class="time-description">
                    Second round of raffle called
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-6">
                <h1 class="time-header">11:15 AM</h1>
                <p class="time-description">
                    Raffle winners called/Orchestra Break
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:45 PM</h1>
                <p class="time-description">
                    Instrument petting zoo closes
                </p>
            </div>
        </div>
        <h1 class="time-header" data-aos="fade-up">01:00 PM</h1>
        <p class="time-description" id="closing" data-aos="fade-up">
            Closing
        </p>
    </main>
    <a href="#sponsors-container"><span class="section-btn"></span></a>
</section>
