{% load static %}
<script>
    AOS.init({
      duration: 1200,
    })
</script>
<div id="sponsors-container">
    <main class="sponsors" role="main">
        <h1 class="sponsors-title" data-aos="fade-up">Thanks to Our Wonderful Sponsors</h1>
        <div class="content mx-auto">
            <div class="row text-center mx-auto" data-aos="fade-up">
                <div class="col-2-md text-center">
                    <a href="https://hmtrad.com/" target="_blank">
                        <img class="img-fluid" src="{% static 'core/img/background/house-musical-traditions.png' %}" alt="alt">
                    </a>
                    <p style="font-size: .75em;">House of Musical Traditions</p>

                </div>
                <div class="col-2-md text-center">
                    <a href="https://www.roundhousetheatre.org/" target="_blank">
                        <img class="img-fluid" src="{% static 'core/img/background/round-house-theatre.png' %}" alt="alt">
                    </a>
                </div>
                <div class="col-2-md text-center">
                    <a href="http://jordankitts.com/" target="_blank">
                        <img class="img-fluid" src="{% static 'core/img/background/jordan-kitts.png' %}" alt="alt">
                    </a>
                </div>
                <div class="col-2-md text-center">
                    <a href="http://www.ismw.org/" target="_blank">
                        <img class="img-fluid" src="{% static 'core/img/background/intl-school-music.png' %}" alt="alt">
                    </a>
                </div>
                <div class="col-2-md text-center">
                    <a href="https://www.thehighwoodtheatre.org/" target="_blank">
                        <img class="img-fluid" src="{% static 'core/img/background/housewood-theatre.png' %}" alt="alt">
                    </a>
                </div>
            </div>
        </div>
        <br>
        <p>Thanks also to the MCPS Educational Foundation and the Neighborhood Event Matching Fund Program for their support.</p>
    </main>
    <a href="#map-container"><span class="section-btn"></span></a>
</div>
