{% load static %}
<script>
    AOS.init({
      duration: 1000,
    })
</script>
<section id="schedule-container">
    <main role="main" class="schedule">

        <h1 class="schedule-title">Schedule</h1>
        <p class="desc">
            Our event will run 1 pm – 4 pm. The format is
            designed to accommodate families whenever you arrive. We will run the
            instrument petting zoo the entire time, and both the Orchestra and
            the Marching Band will perform twice, both times for kid-friendly durations
            (25 minutes, and 15 minutes respectively). You can go to one or both
            performances.
            See the schedule below.
        </p>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">1:00 PM</h1>
                <p class="time-description">
                    Festival opens. Ongoing Festivities: Instrument Petting Zoo, Face Painting, Bake Sale, etc.
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">2:30 PM</h1>
                <p class="time-description">
                    Marching Band Performance (15 min)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">1:15 PM</h1>
                <p class="time-description">
                    Marching Band Performance (15 min)
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">3:00 PM</h1>
                <p class="time-description">
                    Carnival of the Animals Perfomance 2 <br> Raffle Drawing 2
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">1:45 PM</h1>
                <p class="time-description">
                    Carnival of the Animals Performance 1 <br> Raffle Drawing 1
                </p>
            </div>       
            <div class="col-sm-6">
                <h1 class="time-header">3:45 PM</h1>
                <p class="time-description">
                    Instrument petting zoo closes
                </p>
            </div>
        </div>
        <h1 class="time-header">4:00 PM</h1>
        <p class="time-description" id="closing">
            Closing
        </p>
    </main>
    <a href="#sponsors-container"><span class="section-btn"></span></a>
</section>
