{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div id="about-page">
    <div class="carousel-container">
        {% include 'core/includes/about-carousel.html' %}
    </div>
    <div class="container about-cards">
        <h1 class="about-cards-title my-4">Special Thanks</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        BBOPS
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Blair Band and Orchestra Patrons</h4>
                        <p class="card-text">
                            The Blair Band and Orchestra Patrons (or BBOPS) is
                            the booster organization that supports Montgomery Blair
                            High School's Instrumental Music program.  This group is
                            made up of parents of instrumental music students and their
                            support is invaluable.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
