{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div id="about-page">
    <div class="welcome-container">
        <h1 class="welcome">about</h1>
        <p class="lead">
            Montgomery Blair High School Music
        </p>
    </div>
    <div class="carousel-container">
        {% include 'core/includes/about-carousel.html' %}
    </div>

    <div class="about">
        <hr class="divider">

        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">our mission.<span class="text-muted"> yes, we have one.</span></h2>
                <p class="lead">
                    Our mission is to encourage young children to pursue music education in school.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'core/img/background/chamber-orchestra.png' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="divider">

        <div class="row">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">About the piece. <span class="text-muted">Its gucci fam.</span></h2>
                <p class="lead">
                    Carnival of the Animals is a humorous musical suite of fourteen movements by
                    the French Romantic composer Camille Saint-Saëns. Each of the suite&#39;s 14 movements
                    introduces us to a different animal or group of animals.
                    Starting with the lion&#39;s roar and slowing to reflect the elephant&#39;s bulk,
                    Saint-Saens pokes fun at the music of his time. Carnival has become
                    one of Saint-Saëns&#39;s best-known works.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'core/img/background/jazz-band.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>

    </div>
</div>
{% endblock %}
