{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div id="about-page">
    <div class="welcome-container">
        <h1 class="welcome">about</h1>
        <p class="lead">
            Montgomery Blair High School Music
        </p>
    </div>
    <div class="carousel-container">
        {% include 'core/includes/about-carousel.html' %}
    </div>

    <div class="about">
        <hr class="divider">

        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">our mission.<span class="text-muted"> yes, we have one.</span></h2>
                <p class="lead">
                    Our mission is to encourage young children to pursue music education in school.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{% static 'core/img/background/chamber-orchestra.png' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="divider">

        <div class="row">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">About the piece. <span class="text-muted">Its gucci fam.</span></h2>
                <p class="lead">
                    Carnival of the Animals is a humorous musical suite of fourteen movements by
                    the French Romantic composer Camille Saint-Saëns. Each of the suite&#39;s 14 movements
                    introduces us to a different animal or group of animals.
                    Starting with the lion&#39;s roar and slowing to reflect the elephant&#39;s bulk,
                    Saint-Saens pokes fun at the music of his time. Carnival has become
                    one of Saint-Saëns&#39;s best-known works.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'core/img/background/jazz-band.jpg' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="divider">

        <div class="contact-row">
            <nav class="nav nav-tabs" id="myTab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Director</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Organizers</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Additional</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <h1 class="featurette-heading">Michelle Roberts</h1>
                  <p class="lead">
                      With no previous teaching experience other than student teaching for eight weeks
                      in both an elementary school and middle school, Roberts entered Blair and started
                      her career teaching five different music classes. No matter what Roberts may meet
                      down the road, she will always stand by her theme: "Make it work!"
                  </p>
                  <footer class="card-footer">
                      <p class="text-muted">
                          Email: <a href="mailto:Michelle_Roberts@mcpsmd.org">Michelle_Roberts@mcpsmd.org</a>
                      </p>
                  </footer>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <h1 class="featurette-heading">Lisa Silverberg</h1>
                  <p class="lead">
                      These are cool people.Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                  <footer class="card-footer">
                      <p class="text-muted">
                          Email: <a href="mailto:blairmusic2020@gmail.com">blairmusic2020@gmail.com</a>
                      </p>
                  </footer>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h1 class="featurette-heading">Sponsors</h1></h1>
                    <p class="lead">
                        Insert sponsors here
                    </p>
              </div>
            </div>
        </div>

        <script>
            $('#myTab a').on('click', function (e) {
              e.preventDefault();
              e.stopImmediatePropagation();
              $(this).tab('show');
          });
        </script>
    </div>
</div>
{% endblock %}
