{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" defer></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/custom.css' %}">
    <!-- MOBILE STYLESHEET -->
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-light py-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button> <!-- /.navbar-toggler -->

        <!--
        <span class="navbar-brand px-3" href="#">
            <img src="{% static 'core/img/icon/icon.svg' %}" alt="icon" width="60" height="60">
        </span> <!-- /.navbar-brand -->

        <div class="collapse navbar-collapse">
            <div class="navbar-nav mx-auto font-weight-bold fill">
                <a class="nav-item nav-link active px-4 py-3 mx-2" href="#">Home</a> <!--Use {% ifequal request.path 'URLPATH'%} active {% endifequal%} for Django -->
                <a class="nav-item nav-link px-4 mx-2 py-3" href="#">Instruments</a> <!--Or {% if "instruments" in request.path} -->
                <a class="nav-item nav-link px-4 mx-2 py-3" href="#">About</a>
                <a class="nav-item nav-link px-4 mx-2 py-3" href="#">Contact</a>
                <a class="nav-item nav-link px-4 mx-2 py-3" href="#">Organizers</a>
            </div>
        </div> <!-- /.navbar-collapse -->
    </nav>
    {% block content %}
    {% endblock %}
{% endblock %}
