{% extends "core/base.html" %}
{% load static %}
{% block content %}
<section id="cover-container">
    <main role="main" class="cover">
        <h1 class="cover-lead">MBHS Music Presents:</h1>
        <h1 class="cover-title">Carnival of the Animals</h1>
        <object style="fill:white" data="{% static 'core/img/background/cello-outline-bottom.svg' %}" type="image/svg+xml"></object>
        <p class="lead">
            Saturday, January 6 | 10AM - 1PM
        </p>
        <a href="#" role="button" class="btn btn-outline-light d-inline-block">Buy Tickets</a>
        <br>
        <br>
        <a href="#about-container"><span></span></a>
    </main>
    <object class="animate" type="image/svg+xml" data="{% static 'core/img/icon/bird.svg' %}"></object>
</section>
<section id="about-container">
    <main role="main" class="about">
        <img class="animate" src="{% static 'core/img/icon/flapping-birds.gif' %}" alt="flapping-birds">
        <h1 class="about-lead">About /</h1>
        <h1 class="about-title">This what we all about, dawg.</h1>
        <p class="">
            Fixed or “sticky” navigation bars are a prevalent trend in some of the most
            shockingly beautiful sites across the web. These benignly set bars allow for ease
            of access to a website’s core functionalities, regardless of where a user may be
            in the midst of a page’s content. Yet there are more than a few critics of the
            fixed bar model. The most common complaints include words like: “unnecessary”
            and “distracting” pitched about in regular intervals.
        </p>
        <h1 class="about-title">Inspiring the youth since 1776</h1>
        <p class="">
            Fixed or “sticky” navigation bars are a prevalent trend in some of the most
            shockingly beautiful sites across the web. These benignly set bars allow for ease
            of access to a website’s core functionalities, regardless of where a user may be
            in the midst of a page’s content. Yet there are more than a few critics of the
            fixed bar model. The most common complaints include words like: “unnecessary”
            and “distracting” pitched about in regular intervals.
        </p>
        <a href="about" role="button" class="btn btn-outline-dark">Learn More!</a>
        <a href="#schedule-container"><span></span></a>
    </main>
</section>
<section id="schedule-container">
    <main role="main" class="schedule">
        <h1 class="schedule-lead">Schedule /</h1>
        <h1 class="schedule-title">Fam, what we gon' do?</h1>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">10:00 AM</h1>
                <p class="time-description">
                    Festival opens. Ongoing Festivities: Instrument Petting Zoo, Face Painting, Bake Sale, etc.
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">11:30 AM</h1>
                <p class="time-description">
                    Marching Band/Drumline Performance
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">10:15 AM</h1>
                <p class="time-description">
                    Marching Band/Drumline Performance
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:00 AM</h1>
                <p class="time-description closing" id="closing">
                    Carnival of the Animals Perfomance 2
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">10:45 AM</h1>
                <p class="time-description">
                    Carnival of the Animals Performance 1
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:30 AM</h1>
                <p class="time-description">
                    Second round of raffle called
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h1 class="time-header">11:15 AM</h1>
                <p class="time-description">
                    Raffle winners called/Orchestra Break
                </p>
            </div>
            <div class="col-sm-6">
                <h1 class="time-header">12:45 AM</h1>
                <p class="time-description">
                    Instrument petting zoo closes
                </p>
            </div>
        </div>
        <h1 class="time-header">01:00 PM</h1>
        <p class="time-description" id="closing">
            Closing
        </p>
        <a href="#about-container"><span></span></a>
    </main>
</section>
{% endblock %}

<!--LOGO SOURCE: logomakr.com/08sZUw
logomakr.com/2b1CHR-->
