{% extends "core/base.html" %}
{% load static %}
{% block content %}
<section id="section01">
    <div class="hero-inner">
        <h1 class="display-4">Montgomery Blair High School Presents:<span class="display-3 d-block">Carnival of the Animals</span></h1>
    </div>
</section>
<section id="section02">
    <h1 class="display-4">Montgomery Blair High School Presents:<span class="display-3 d-block">Carnival of the Animals</span></h1>
</section>
<section id="section03">
    <h1 class="display-4">Montgomery Blair High School Presents:<span class="display-3 d-block">Carnival of the Animals</span></h1>
</section>
<section id="section04">
    <h1 class="display-4">Montgomery Blair High School Presents:<span class="display-3 d-block">Carnival of the Animals</span></h1>
</section>
{% endblock %}
