{% extends "core/base.html" %}
{% load static %}
{% block content %}
<section id="cover-container">
    <main role="main" class="cover">
        <h1 class="cover-lead">MBHS Music Presents:</h1>
        <h1 class="cover-title">Carnival of the Animals</h1>
        <object style="fill:white" data="{% static 'core/img/background/cello-outline-bottom.svg' %}" type="image/svg+xml"></object>
        <p class="lead">
            Saturday, January 6 | 10AM - 1PM
        </p>
        <a href="#" role="button" class="btn btn-outline-light d-block">Presale Tickets $5</a>
    </main>
    <a href="#about-container"><span class="section-btn"></span></a>
    <img src="{% static 'core/img/icon/bird.svg' %}" class="animate" alt="bird.svg">
</section>
{% include 'core/includes/index-about-section.html' %}
{% include 'core/includes/index-schedule-section.html' %}
{% include 'core/includes/index-sponsors-section.html' %}
{% include 'core/includes/index-map-section.html' %}
<!--sponsors : Thanks to our sponsors: Highwood Theatre, House of Musical Traditions,
International School of Music, Jordan Kitt’s Music, Roundhouse Theatre, and to the MCPS
Foundation and the Neighborhood Event Matching Grant Program for their support -->
<!-- MAPS -->
{% endblock %}

<!--LOGO SOURCE: logomakr.com/08sZUw
logomakr.com/2b1CHR-->
