@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans");
html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif; }

body {
  padding: 0;
  margin: 0; }

html, body {
  overflow-x: hidden; }

.embed-responsive-210by297 {
  padding-bottom: 141.42%; }

.modal-open {
  padding-right: 0px !important; }

@media (min-width: 576px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 576px)/(768- 576)); } }
@media (min-width: 768px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 768px)/(992- 768)); } }
@media (min-width: 992px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 992px)/(1920 - 992)); } }
.ticket-modal .modal-content {
  background-color: #14142f;
  color: white;
  line-height: 1em;
  font-family: 'Luckiest Guy', sans-serif; }
  .ticket-modal .modal-content .close {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75;
    color: white; }
    .ticket-modal .modal-content .close:hover {
      opacity: 1;
      cursor: pointer; }
  .ticket-modal .modal-content .enlarge {
    font-size: 2em;
    line-height: 1em; }
  .ticket-modal .modal-content .modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 5em;
    margin-bottom: 1.5em; }
  .ticket-modal .modal-content .btn {
    font-size: 1.5em; }
    .ticket-modal .modal-content .btn:hover, .ticket-modal .modal-content .btn:focus {
      color: black; }
  .ticket-modal .modal-content li {
    display: inline; }
  .ticket-modal .modal-content li:before {
    content: '\00a0\2022\00a0\00a0'; }
  .ticket-modal .modal-content li:first-child:before {
    content: ''; }

.contact-modal .modal-content {
  background-color: #9fd2ff;
  color: black;
  line-height: 1em;
  font-family: 'Luckiest Guy', sans-serif; }
  .contact-modal .modal-content .close {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.75; }
    .contact-modal .modal-content .close:hover {
      opacity: 1;
      cursor: pointer; }
  .contact-modal .modal-content .hello-row a {
    font-family: 'Open Sans', sans-serif; }
  .contact-modal .modal-content .address-row {
    line-height: 2em; }
  .contact-modal .modal-content .form {
    font-family: 'Open Sans', sans-serif; }
    .contact-modal .modal-content .form input {
      margin-bottom: 0.5em; }
  .contact-modal .modal-content .fa {
    color: black;
    margin: 0.5em;
    margin-bottom: 1.5em; }

.navbar {
  background: #14142f;
  transition: all 0.5s;
  padding-top: 0; }
  .navbar .navbar-nav {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 400; }
    .navbar .navbar-nav .nav-item {
      margin-top: 0; }
      .navbar .navbar-nav .nav-item .nav-link {
        margin-left: 1.5em;
        margin-right: 1.5em;
        transition: all 0.25s;
        border-top: 5px solid transparent;
        color: #9fd2ff;
        padding-bottom: 10px; }
      .navbar .navbar-nav .nav-item .active {
        transition: all 0.25s;
        border-top: 5px solid white;
        color: white !important; }
  .navbar:hover {
    background: #a52714; }
    .navbar:hover .nav-link {
      color: #e9e9e9 !important;
      padding-top: 3em; }
  @media (min-width: 992px) {
    .navbar .nav-item:hover .nav-link {
      border-top: 5px solid white; }
    .navbar .espanol {
      position: absolute;
      top: 0;
      right: 0; } }

section {
  position: relative;
  width: 100vw;
  max-width: 100%; }

body {
  background: url("../img/background/memphis-colorful.png");
  background-attachment: fixed; }

#cover-container {
  height: 100vh;
  color: white;
  background-color: #14142f;
  text-align: center; }
  #cover-container .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #cover-container .cover .cover-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em;
      color: #3889d8; }
    #cover-container .cover .cover-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 3em; }
    #cover-container .cover p, #cover-container .cover a {
      color: #9fd2ff; }
    #cover-container .cover .btn {
      transition: all 0.25s; }
      #cover-container .cover .btn:hover {
        color: black; }
  #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
      visibility: visible; } }
  #cover-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #cover-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #cover-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
  #cover-container .animate, #cover-container .animate-2 {
    visibility: hidden; }
  @media (min-width: 992px) {
    #cover-container .animate {
      position: absolute;
      top: 55px;
      right: 0;
      visibility: visible;
      height: 18em;
      width: 18em; }
    #cover-container .animate-2 {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(-1);
      z-index: 0;
      visibility: visible;
      height: 18em;
      width: 8em; } }

#about-container {
  height: auto;
  position: relative;
  min-height: 95vh !important;
  color: black;
  padding-bottom: 3em;
  background: #9fd2ff; }
  #about-container .trumpet-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  #about-container .violin-svg {
    position: absolute;
    top: 25%;
    right: 75%;
    width: 10em;
    height: 10em;
    margin: 3em;
    visibility: hidden; }
  #about-container .sax-svg {
    position: absolute;
    top: 55%;
    left: 75%;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  @media (min-width: 768px) {
    #about-container .trumpet-svg, #about-container .violin-svg, #about-container .sax-svg {
      visibility: visible; } }
  #about-container .about {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 1%;
    width: 75%;
    padding-top: 5em;
    text-align: center; }
    @media (min-width: 992px) {
      #about-container .about {
        width: 50%; } }
    #about-container .about .about-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #about-container .about .about-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em; }
    #about-container .about p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em; }
    @media (min-width: 576px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; } }
    @media (min-width: 768px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; } }
  #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
      visibility: visible; } }
  #about-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #about-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #about-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
#schedule-container {
  height: auto;
  position: relative;
  min-height: 95vh !important;
  color: white;
  background: url("../img/background/orchestra.jpg") no-repeat;
  background-size: cover; }
  #schedule-container .trumpet-svg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  #schedule-container .violin-svg {
    position: absolute;
    z-index: 0;
    top: 25%;
    left: 75%;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  #schedule-container .sax-svg {
    position: absolute;
    z-index: 0;
    top: 65%;
    right: 75%;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  @media (min-width: 992px) {
    #schedule-container .trumpet-svg, #schedule-container .violin-svg, #schedule-container .sax-svg {
      visibility: hidden; } }
  #schedule-container .schedule {
    background-color: rgba(20, 20, 47, 0.85);
    margin: auto;
    min-height: 95vh;
    height: auto;
    width: 75%;
    padding-top: 3em;
    text-align: center; }
    @media (min-width: 992px) {
      #schedule-container .schedule {
        width: 50%; } }
    #schedule-container .schedule .schedule-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #schedule-container .schedule .schedule-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em;
      margin-bottom: 1em; }
    #schedule-container .schedule .desc {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em;
      margin: 2em;
      display: none;
      color: #9fd2ff; }
    #schedule-container .schedule .time-header {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.25em;
      color: #d2d2d2; }
    #schedule-container .schedule .time-description {
      display: inline-block;
      width: 75%;
      font-family: 'Open Sans', sans-serif;
      font-size: .9em;
      margin-bottom: 2em;
      color: #9fd2ff; }
    @media (min-width: 576px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; }
      #schedule-container .schedule .time-header {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.25em; }
      #schedule-container .schedule .time-description {
        display: inline-block;
        width: 75%;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        margin-bottom: 1em; }
      #schedule-container .schedule .desc {
        display: none; } }
    @media (min-width: 768px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; }
      #schedule-container .schedule .desc {
        display: block; } }
    #schedule-container .schedule #closing {
      width: 100% !important;
      padding-bottom: 4em; }
  #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
      visibility: visible; } }
  #schedule-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #schedule-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #schedule-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
#sponsors-container {
  height: auto;
  position: relative;
  min-height: 50vh !important;
  background: #141516; }
  #sponsors-container .sponsors {
    text-align: center;
    background-color: #9fd2ff;
    min-height: 50vh;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 3em;
    padding-bottom: 2em;
    vertical-align: middle; }
    #sponsors-container .sponsors .sponsors-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em;
      margin-bottom: 1em; }
    @media (min-width: 576px) {
      #sponsors-container .sponsors .sponsors-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; } }
    @media (min-width: 768px) {
      #sponsors-container .sponsors .sponsors-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; } }
    #sponsors-container .sponsors .content {
      display: table;
      height: auto;
      margin: 0 auto;
      position: relative; }
      #sponsors-container .sponsors .content .row img {
        max-width: 10em;
        max-height: 10em;
        margin: 1em; }
      @media (min-width: 768px) {
        #sponsors-container .sponsors .content .row img {
          max-width: 12vw;
          max-height: 12vh; } }
  #sponsors-container a:hover {
    text-decoration: none; }
  #sponsors-container .section-btn, #sponsors-container .section-btn::after, #sponsors-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #sponsors-container .section-btn, #sponsors-container .section-btn::after, #sponsors-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #sponsors-container .section-btn, #sponsors-container .section-btn::after, #sponsors-container .section-btn::before {
      visibility: visible; } }
  #sponsors-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #sponsors-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #sponsors-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
#map-container {
  height: auto;
  position: relative;
  min-height: 50vh !important; }
  #map-container #map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey; }

#about-page {
  background-color: rgba(159, 210, 255, 0.2);
  line-height: 1.6em;
  padding-top: 2.75em;
  padding-bottom: 2em; }
  #about-page .carousel-container {
    width: 100%;
    max-height: 1vh;
    padding-bottom: 56.25%;
    background: #a52714;
    margin-bottom: 2em; }
    #about-page .carousel-container .carousel-caption h3 {
      font-family: 'Luckiest Guy', sans-serif;
      letter-spacing: 0.5em;
      color: #9fd2ff; }
    #about-page .carousel-container .carousel-caption p {
      font-weight: bold;
      font-size: 1.5em; }
  @media (max-width: 576px) {
    #about-page .card {
      margin-left: 10px !important;
      margin-right: 10px !important; }
    #about-page .col-sm-6, #about-page .col-sm-5, #about-page .col-sm-7, #about-page .col-sm-8, #about-page .col-sm-4 {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 1em; } }
  #about-page .card {
    background: #14142f;
    color: white; }
    #about-page .card .card-header {
      background: #a52714;
      text-transform: lowercase;
      font-weight: 200; }
    #about-page .card .card-title {
      font-family: 'Luckiest Guy', sans-serif; }
    #about-page .card .card-text {
      color: #d2d2d2; }
    #about-page .card #cello-img {
      width: 4em;
      height: 9.5em;
      margin-right: 1em; }
    #about-page .card .btn {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      white-space: normal;
      transition: all 0.25s;
      color: black;
      background-color: #9fd2ff; }
      #about-page .card .btn:hover {
        color: white;
        background-color: #a52714; }
  #about-page .bbop-card .about-cards-title {
    color: black;
    font-size: 2em;
    font-family: 'Luckiest Guy', sans-serif; }
  #about-page .bbop-card .bbop-card-card {
    background-color: #4C136E; }
    #about-page .bbop-card .bbop-card-card .card-text {
      color: #FFFFFF; }
    #about-page .bbop-card .bbop-card-card .card-header {
      background-color: #A52814; }
  #about-page .instrument-card {
    background-color: #6B1F98; }
    #about-page .instrument-card .card-text {
      color: #FFFFFF; }
  #about-page .carnival-card {
    background-color: #6B1F98; }
    #about-page .carnival-card .card-text {
      color: #DCC6E0; }
  #about-page .carnival-blurb-card {
    background-color: #6B1F98; }
    #about-page .carnival-blurb-card .card-text {
      color: #E4F1FE; }
  #about-page .arts-crafts-card {
    background-color: #ffce54; }
    #about-page .arts-crafts-card .card-text, #about-page .arts-crafts-card .card-title {
      color: #000000; }
  #about-page .face-painting-card {
    background-color: #ffce54; }
    #about-page .face-painting-card .card-text, #about-page .face-painting-card .card-title {
      color: #000000; }
  #about-page .cupcake-walk-card {
    background-color: #ffce54; }
    #about-page .cupcake-walk-card .card-text, #about-page .cupcake-walk-card .card-title {
      color: #000000; }
  #about-page .bake-sale-card {
    background-color: #0F7A2F; }
    #about-page .bake-sale-card .card-text {
      color: #FFFFFF; }
  #about-page .raffle-card {
    background-color: #0F7A2F; }
    #about-page .raffle-card .card-text {
      color: #FFFFFF; }
  #about-page .marching-band-card {
    background-color: #0F7A2F; }
    #about-page .marching-band-card .card-text {
      color: #FFFFFF; }
  #about-page .directions-card .about-cards-title {
    color: black;
    font-size: 2em;
    font-family: 'Luckiest Guy', sans-serif; }
  #about-page .directions-card .directions-card-card {
    background-color: #4C136E; }
    #about-page .directions-card .directions-card-card .card-text {
      color: #FFFFFF; }
    #about-page .directions-card .directions-card-card .card-header {
      background-color: #A52814; }

/*# sourceMappingURL=custom.css.map */
