@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans");
html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 576px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 576px)/(768- 576)); } }
@media (min-width: 768px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 768px)/(992- 768)); } }
@media (min-width: 992px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 992px)/(1920 - 992)); } }
.navbar {
  background: rgba(158, 36, 56, 0);
  transition: all 0.5s;
  padding-top: 0; }
  .navbar .navbar-nav {
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 450; }
    .navbar .navbar-nav .nav-item {
      margin-top: 0; }
      .navbar .navbar-nav .nav-item .nav-link {
        margin-left: 1.5em;
        margin-right: 1.5em;
        transition: all 0.25s;
        border-top: 5px solid transparent;
        color: white !important;
        padding-bottom: 10px; }
      .navbar .navbar-nav .nav-item .active {
        transition: all 0.25s;
        border-top: 5px solid white;
        color: white !important; }
  .navbar:hover {
    background: #fe8371; }
    .navbar:hover .nav-link {
      padding-top: 3em; }
  @media (min-width: 992px) {
    .navbar .nav-item:hover .nav-link {
      border-top: 5px solid white; } }

section {
  position: relative;
  width: 100vw;
  max-width: 100%; }

#cover-container {
  height: 100vh;
  color: white;
  background-color: #141516; }
  #cover-container .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #cover-container .cover .cover-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em; }
    #cover-container .cover .cover-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 3em; }
    #cover-container .cover a span {
      position: relative;
      width: 46px;
      height: 46px;
      display: inline-block;
      border: 1px solid #fff;
      border-radius: 100%;
      box-sizing: border-box;
      margin: 1em; }
    #cover-container .cover a span::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box; }
    #cover-container .cover a span::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rbga(255, 0, 0, 0.1);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: sdb03 3s infinite;
      -moz-animation: sdb03 3s infinite;
      -ms-animation: sdb03 3s infinite;
      -o-animation: sdb03 3s infinite;
      animation: sdb03 3s infinite;
      box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
  #cover-container .animate {
    visibility: hidden; }
  @media (min-width: 992px) {
    #cover-container .animate {
      position: absolute;
      right: 0;
      visibility: visible; } }

#about-container {
  height: auto;
  position: static;
  min-height: 100vh !important;
  color: black;
  background-color: white; }
  #about-container .about {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 1%;
    width: 50%;
    padding-top: 5em;
    text-align: center; }
    #about-container .about .about-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #about-container .about .about-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em; }
    #about-container .about p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em; }
    @media (min-width: 576px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; } }
    @media (min-width: 768px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; } }
    #about-container .about a span {
      position: relative;
      width: 46px;
      height: 46px;
      display: inline-block;
      border: 1px solid #000;
      border-radius: 100%;
      box-sizing: border-box;
      margin: 1em; }
    #about-container .about a span::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box; }
    #about-container .about a span::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rbga(255, 255, 255, 0.1);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: sdb03 3s infinite;
      -moz-animation: sdb03 3s infinite;
      -ms-animation: sdb03 3s infinite;
      -o-animation: sdb03 3s infinite;
      animation: sdb03 3s infinite;
      box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
  #about-container .animate {
    display: none; }
  @media (min-width: 992px) {
    #about-container {
      background: url("../img/icon/flapping-birds.gif") top left no-repeat;
      background-size: 20em 10em; }
      #about-container .animate {
        position: absolute;
        display: inline;
        visibility: hidden;
        top: 0;
        left: 0; } }

#schedule-container {
  height: auto;
  position: static;
  min-height: 100% !important;
  color: white;
  background-color: #9e2438; }
  #schedule-container .schedule {
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 1%;
    width: 50%;
    padding-top: 3em;
    text-align: center; }
    #schedule-container .schedule .schedule-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #schedule-container .schedule .schedule-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em;
      margin-bottom: 1em; }
    @media (min-width: 576px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; } }
    @media (min-width: 768px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; } }
    #schedule-container .schedule .time-header {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.25em; }
    #schedule-container .schedule .time-description {
      display: inline-block;
      width: 75%;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.80em;
      margin-bottom: 2em; }
    #schedule-container .schedule #closing {
      width: 100% !important; }
    #schedule-container .schedule a span {
      position: relative;
      width: 46px;
      height: 46px;
      display: inline-block;
      border: 1px solid #fff;
      border-radius: 100%;
      box-sizing: border-box;
      margin: 1em; }
    #schedule-container .schedule a span::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 16px;
      height: 16px;
      margin: -12px 0 0 -8px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box; }
    #schedule-container .schedule a span::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 44px;
      height: 44px;
      box-shadow: 0 0 0 0 rbga(255, 255, 255, 0.1);
      border-radius: 100%;
      opacity: 0;
      -webkit-animation: sdb03 3s infinite;
      -moz-animation: sdb03 3s infinite;
      -ms-animation: sdb03 3s infinite;
      -o-animation: sdb03 3s infinite;
      animation: sdb03 3s infinite;
      box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 10px 10px 10px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=custom.css.map */
