@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans");
html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif; }

body {
  padding: 0;
  margin: 0; }

html, body {
  overflow-x: hidden; }

@media (min-width: 576px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 576px)/(768- 576)); } }
@media (min-width: 768px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 768px)/(992- 768)); } }
@media (min-width: 992px) {
  html {
    font-size: calc(16px + (24 - 16) * (100vw - 992px)/(1920 - 992)); } }
.navbar {
  background: rgba(158, 36, 56, 0);
  transition: all 0.5s;
  padding-top: 0; }
  .navbar .navbar-nav {
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 400; }
    .navbar .navbar-nav .nav-item {
      margin-top: 0; }
      .navbar .navbar-nav .nav-item .nav-link {
        margin-left: 1.5em;
        margin-right: 1.5em;
        transition: all 0.25s;
        border-top: 5px solid transparent;
        color: white !important;
        padding-bottom: 10px; }
      .navbar .navbar-nav .nav-item .active {
        transition: all 0.25s;
        border-top: 5px solid white;
        color: white !important; }
  .navbar:hover {
    background: #fe8371; }
    .navbar:hover .nav-item {
      visibility: visible; }
    .navbar:hover .nav-link {
      padding-top: 3em; }
  @media (min-width: 992px) {
    .navbar .nav-item {
      visibility: hidden; }
    .navbar .nav-item:hover .nav-link {
      border-top: 5px solid white; }
    .navbar .espanol {
      position: absolute;
      top: 0;
      right: 0; } }

section {
  position: relative;
  width: 100vw;
  max-width: 100%; }

body {
  background: url("../img/background/memphis-colorful.png");
  background-attachment: fixed; }

#cover-container {
  height: 100vh;
  color: white;
  background-color: #141516;
  text-align: center; }
  #cover-container .cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #cover-container .cover .cover-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em; }
    #cover-container .cover .cover-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 3em; }
  #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #cover-container .section-btn, #cover-container .section-btn::after, #cover-container .section-btn::before {
      visibility: visible; } }
  #cover-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #cover-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #cover-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rbga(255, 0, 0, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 0, 0, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
  #cover-container .animate {
    visibility: hidden; }
  @media (min-width: 992px) {
    #cover-container .animate {
      position: absolute;
      right: 0;
      visibility: visible;
      height: 20em;
      width: 18em; } }

#about-container {
  height: auto;
  position: relative;
  min-height: 100vh !important;
  color: black; }
  #about-container .trumpet-svg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  #about-container .violin-svg {
    position: absolute;
    z-index: -1;
    top: 25%;
    right: 75%;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  #about-container .sax-svg {
    position: absolute;
    z-index: -1;
    top: 65%;
    left: 75%;
    width: 12em;
    height: 12em;
    margin: 3em;
    visibility: hidden; }
  @media (min-width: 768px) {
    #about-container .trumpet-svg, #about-container .violin-svg, #about-container .sax-svg {
      visibility: visible; } }
  #about-container .about {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 1%;
    width: 75%;
    padding-top: 5em;
    text-align: center; }
    @media (min-width: 992px) {
      #about-container .about {
        width: 50%; } }
    #about-container .about .about-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #about-container .about .about-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em; }
    #about-container .about p {
      font-family: 'Open Sans', sans-serif;
      font-size: 1em; }
    @media (min-width: 576px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; } }
    @media (min-width: 768px) {
      #about-container .about .about-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #about-container .about .about-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; } }
  #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #about-container .section-btn, #about-container .section-btn::after, #about-container .section-btn::before {
      visibility: visible; } }
  #about-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #about-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #about-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rbga(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
  #about-container .animate {
    display: none; }
  @media (min-width: 992px) {
    #about-container .animate {
      position: absolute;
      top: 0;
      left: 0;
      width: 20em;
      height: 10em;
      background: url("../img/icon/flapping-birds.gif") top left no-repeat;
      background-size: 20em 10em; } }

#schedule-container {
  height: auto;
  position: relative;
  min-height: 100% !important;
  color: white;
  background: url("../img/background/orchestra.jpg") no-repeat;
  background-size: cover;
  background-position: fixed; }
  #schedule-container .schedule {
    background-color: rgba(158, 36, 56, 0.9);
    margin: auto;
    height: auto;
    width: 75%;
    padding-top: 3em;
    text-align: center; }
    @media (min-width: 992px) {
      #schedule-container .schedule {
        width: 50%; } }
    #schedule-container .schedule .schedule-lead {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em; }
    #schedule-container .schedule .schedule-title {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.5em;
      margin-bottom: 1em; }
    #schedule-container .schedule .desc {
      font-family: 'Open Sans', sans-serif;
      font-size: .9em;
      margin: 2em;
      display: none; }
    #schedule-container .schedule .time-header {
      font-family: 'Luckiest Guy', cursive;
      font-size: 1.25em; }
    #schedule-container .schedule .time-description {
      display: inline-block;
      width: 75%;
      font-family: 'Open Sans', sans-serif;
      font-size: .9em;
      margin-bottom: 2em; }
    @media (min-width: 576px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.75em; }
      #schedule-container .schedule .time-header {
        font-family: 'Luckiest Guy', cursive;
        font-size: 1.25em; }
      #schedule-container .schedule .time-description {
        display: inline-block;
        width: 75%;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        margin-bottom: 1em; }
      #schedule-container .schedule .desc {
        display: none; } }
    @media (min-width: 768px) {
      #schedule-container .schedule .schedule-lead {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em; }
      #schedule-container .schedule .schedule-title {
        font-family: 'Luckiest Guy', cursive;
        font-size: 2em; }
      #schedule-container .schedule .desc {
        display: block; } }
    #schedule-container .schedule #closing {
      width: 100% !important; }
  #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
    visibility: hidden; }
  @media (min-width: 768px) {
    #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
      visibility: visible; } }
  @media (min-width: 992px) {
    #schedule-container .section-btn, #schedule-container .section-btn::after, #schedule-container .section-btn::before {
      visibility: visible; } }
  #schedule-container .section-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 1em; }
  #schedule-container .section-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #schedule-container .section-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rbga(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    -moz-animation: sdb03 3s infinite;
    -ms-animation: sdb03 3s infinite;
    -o-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0px 0px 0px 60px rbga(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
#raffle-container {
  height: auto;
  position: relative;
  min-height: 100vh !important;
  color: black; }

#about-page {
  margin-top: 4.5em;
  text-align: center; }
  #about-page .welcome-container {
    padding: 2em;
    margin: 2em;
    background: #9e2438;
    border-radius: 10px;
    color: white; }
    #about-page .welcome-container .welcome {
      font-size: 2em;
      font-weight: 300;
      letter-spacing: 0.25em;
      padding-bottom: 0.25em; }
  #about-page .carousel-container {
    margin: none; }
    #about-page .carousel-container #photo-carousel img {
      min-width: 100%;
      height: 14em; }
    @media (min-width: 576px) {
      #about-page .carousel-container #photo-carousel img {
        height: 20em; } }
    @media (min-width: 768px) {
      #about-page .carousel-container {
        margin: 2em; }
        #about-page .carousel-container #photo-carousel img {
          height: 30em; } }
    @media (min-width: 992px) {
      #about-page .carousel-container #photo-carousel img {
        height: 35em; } }
  #about-page .about {
    margin: none;
    text-align: left; }
    @media (min-width: 768px) {
      #about-page .about {
        margin: 2em; } }
    #about-page .about .divider {
      margin: 2rem 0; }
    #about-page .about .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -.05rem;
      font-size: 3em; }
    #about-page .about .row {
      padding: 4em;
      background: #9e2438;
      border-radius: 10px;
      color: white; }
    #about-page .about .contact-row {
      padding: 4em;
      background: #9e2438;
      border-radius: 10px; }
      #about-page .about .contact-row .nav-tabs {
        background-color: #161616; }
      #about-page .about .contact-row .tab-content {
        background-color: #303136;
        color: #fff;
        padding: 5px; }
      #about-page .about .contact-row .tab-pane {
        padding: 1em; }
      #about-page .about .contact-row .nav-tabs > li > a {
        border: medium none; }
      #about-page .about .contact-row .nav-tabs > li > a:hover {
        background-color: #303136 !important;
        border: medium none;
        border-radius: 0;
        color: #fff; }
      #about-page .about .contact-row .card-footer a {
        color: white;
        word-break: break-all; }

/*# sourceMappingURL=custom.css.map */
