#about-page {
    background-color: rgba(159,210,255,0.2);
    line-height: 1.6em;
    padding-top: 2.75em;
    padding-bottom: 2em;
    .carousel-container {
        width: 100%;
        max-height: 1vh;
        padding-bottom: 56.25%;
        background: rgb(165,39,20);

        .carousel-caption h3 {
            font-family: 'Luckiest Guy', sans-serif;
            letter-spacing: 0.5em;
            color: rgb(159,210,255);
        }
        .carousel-caption p {
            font-weight: bold;
            font-size: 1.5em;
        }
        #photo-carousel {
            .carousel-inner {

            }
        }
        margin-bottom: 2em;
    }

    @media (max-width: 576px) {
        .card {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }
        .col-sm-6, .col-sm-5, .col-sm-7, .col-sm-8, .col-sm-4 {
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 1em;
        }
    }

    .card {
        background: rgb(20,20,47);
        //border: 1px solid white;
        color: white;
        .card-header {
            background: rgb(165,39,20);
            text-transform: lowercase;
            font-weight: 200;
        }
        .card-title {
            font-family: 'Luckiest Guy', sans-serif;
        }
        .card-text {
            color:rgb(210,210,210);
        }

        #cello-img {
            width: 4em;
            height:9.5em;
            margin-right: 1em;
        }

        .btn {
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            white-space: normal;
            transition: all 0.25s;
            &:hover {
                color: white;
                background-color: rgb(165,39,20);
            }
            color: black;
            background-color: rgb(159,210,255);
        }

    }

    .bbop-card {
        .about-cards-title {
            color: black;
            font-size: 2em;
            font-family: 'Luckiest Guy', sans-serif;
        }
        .bbop-card-card {
            background-color: #4C136E;
            .card-text {
                color: #FFFFFF;
            }
            .card-header {
                background-color: #A52814;
            }
        }
    }
    .instrument-card {
        background-color: #6B1F98;
        .card-text {
            color: #FFFFFF;
        }
    }
    .carnival-card {
        background-color: #6B1F98;
        .card-text {
            color: #DCC6E0;
        }
    }
    .carnival-blurb-card {
        background-color: #6B1F98;
        .card-text {
            color: #E4F1FE;
        }
    }
    .arts-crafts-card {
        background-color: #ffce54;
        .card-text, .card-title {
            color: #000000;
        }
    }
    .face-painting-card {
        background-color: #ffce54;
        .card-text, .card-title {
            color: #000000;
        }
    }
    .cupcake-walk-card {
        background-color: #ffce54;
        .card-text, .card-title {
            color: #000000;
        }
    }
    .bake-sale-card {
        background-color: #0F7A2F;
        .card-text {
            color: #FFFFFF;
        }
    }
    .raffle-card {
        background-color: #0F7A2F;
        .card-text {
            color: #FFFFFF;
        }
    }
    .marching-band-card {
        background-color: #0F7A2F;
        .card-text {
            color: #FFFFFF;
        }
    }
    .directions-card {
        .about-cards-title {
            color: black;
            font-size: 2em;
            font-family: 'Luckiest Guy', sans-serif;
        }
        .directions-card-card {
            background-color: #4C136E;
            .card-text {
                color: #FFFFFF;
            }
            .card-header {
                background-color: #A52814;
            }
        }
    }
}
