#about-page {
    margin-top: 4.5em;
    text-align: center;
    .welcome-container {
        padding:2em;
        margin: 2em;
        background: rgba(158,36,56,1);
        border-radius: 10px;
        color: white;
        .welcome {
            font-size: 2em;
            font-weight: 300;
            letter-spacing: 0.25em;
            padding-bottom: 0.25em;
        }
    }

    .carousel-container {
        margin: none;

        #photo-carousel {
            img {
                min-width: 100%;
                height: 14em;
            }
        }
        @include media-breakpoint-sm() {
            #photo-carousel {
                img {
                    height: 20em;
                }
            }
        };
        @include media-breakpoint-md() {
            margin: 2em;
            #photo-carousel {
                img {
                    height: 30em;
                }
            }
        };
        @include media-breakpoint-lg() {
            #photo-carousel {
                img {
                    height: 35em;
                }
            }
        };
    }

    .about {
        margin: none;
        @include media-breakpoint-md() {
            margin: 2em;
        };
        text-align: left;
        .divider {
            margin: 2rem 0;
        }
        .featurette-heading {
          font-weight: 300;
          line-height: 1;
          letter-spacing: -.05rem;
          font-size: 3em;
        }
        .featurette-image {

        }
        .row {
            padding: 4em;
            background: rgba(158,36,56,1);
            border-radius: 10px;
            color: white;
        }
        .contact-row {
            padding: 4em;
            background: rgba(158,36,56,1);
            border-radius: 10px;
            .nav-tabs{
              background-color:#161616;
            }
            .tab-content{
                background-color:#303136;
                color:#fff;
                padding:5px
            }
            .tab-pane {
                padding: 1em;
            }
            .nav-tabs > li > a{
              border: medium none;
            }
            .nav-tabs > li > a:hover{
              background-color: #303136 !important;
                border: medium none;
                border-radius: 0;
                color:#fff;
            }
            .card-footer a {
                color: white;
                word-break: break-all;
            }
        }
    }

}
