
.navbar {
    background: rgb(20,20,47);
    transition: all 0.5s;
    padding-top: 0;
    .navbar-nav {
        font-size: 0.75em;
        text-transform: uppercase;
        font-weight: 400;

        .nav-item {
            margin-top: 0;

            .nav-link {
                margin-left: 1.5em;
                margin-right: 1.5em;
                transition: all 0.25s;
                border-top: 5px solid transparent;
                color: rgb(159,210,255) !important;
                padding-bottom: 10px;
            }
            .active {
                transition: all 0.25s;
                border-top: 5px solid white;
                color: white !important;
            }
        }
    }

    &:hover {
        background: rgb(250, 81, 0);
        .nav-item {

        }
        .nav-link {
            padding-top:3em;
        }
    }

    @include media-breakpoint-lg() {
        .nav-item {

        }
        .nav-item:hover {
            .nav-link {
                border-top: 5px solid white;
            }
        }
        .espanol {
            position: absolute;
            top: 0;
            right:0;
        }
    }

}
