section {
    position: relative;
}
@mixin section-sizing($width, $max-width, $height) {
    width: $width;
    max-width: $max-width;
    height: $height;
}

.section-head {
    margin-top: 4em;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.5em;
    margin-bottom: 2em;
}

#hero-section {
    @include section-sizing(100vw, 100%, 75vh);
    background-color: rgba(773, 227, 70, 1);
    .hero-inner {
        position: absolute;
        width: 75%;
        height: 75%;
        top: 0;
        left: 50%;
        transform: translate(-50%);

        .jumbotron {
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: rgba(227,73,70, 0.4);
        }
    }
}

#schedule-section {
    @include section-sizing(100vw, 100%, 80vh);
    background-color: rgba(70, 227, 773, 1);

    .schedule-inner {
        background-color: rgba(95,186,125, 1);
        width: 75%;
        height: 100%;
        margin: 0 auto;
        padding: 1px;
        position: relative;
        text-align: center;
        color: white;
        text-transform: uppercase;

        .time-header {

        }

        .time-description {
            display:inline-block;
            width: 75%;
            //background-color: black;
            margin-bottom: 2em;
        }
    }
}

@media screen and (max-width: 680px) { //CHANGE FOR RESIZE
    #hero-section .hero-inner .jumbotron {
        //h1 {font-size: 90%;}
        blockquote {display: none;}
    }
}
